// PUERTO SERVER
PORT=

// BASE DE DATOS MONGO-USUARIOS
DATABASE_MONGO=

//TOKEN AUTH
JWT_SECRET=

//FRONT END
FRONTEND_URL=

// PASSWORD DEFAULT
DEFAULT_USER_PASSWORD=

// SMTP MAIL
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_FROM_NAME=
SMTP_FROM_EMAIL=
SMTP_SECURE=