// PUERTO SERVER
PORT=4001

// BASE DE DATOS MONGO-USUARIOS
DATABASE_MONGO=mongodb://localhost:27017/onDent

// TOKEN AUTH
JWT_SECRET=your_jwt_secret

// FRONT END
FRONTEND_URL=http://localhost:5173

// PASSWORD DEFAULT
DEFAULT_USER_PASSWORD=YourDefaultPassword123

// SMTP MAIL
SMTP_HOST=smtp.example.com
SMTP_PORT=2525
SMTP_USER=your_smtp_user
SMTP_PASS=your_smtp_password
SMTP_FROM=OnDent <no-reply@example.com>
SMTP_SECURE=false
